<form [formGroup]="googlePlaceSearchForm" fxLayout="column" class="full-width-form">
  <mat-form-field>

    <input type="text"
           placeholder="Search Locations..."
           aria-label="Location"
           matInput
           formControlName="searchTermControl"
           [matAutocomplete]="auto">

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="submit($event.option)">

      <mat-option *ngFor="let option of filteredOptions" [value]="option.description">
        <span>{{ option.structuredFormatting.mainText }}</span> |
        <small>{{ option.structuredFormatting.secondaryText }}</small>
      </mat-option>

      <mat-option *ngIf="showMissingFace" style="height:80px" (click)="submitNothing()">
        <div class="panel-no-border">
          <span class="text-lg">🤔&emsp;</span>
          <span class="text-muted text-md">Hmmm... that's not familiar to us.&emsp;</span>
          <span class="text-link text-md" (click)="submitNothing()">Prefer to fill it out yourself?</span>
        </div>
      </mat-option>

    </mat-autocomplete>

  </mat-form-field>
  <div class="text-left text-warn" *ngIf="error">
    <span class="text-md">😫 </span>
    <span class="text-sm">Arghh... we're having trouble accessing our Location data right now. Please try again in a few moments.</span>
  </div>
</form>
