<form [formGroup]="locationForm" fxLayout="column" class="full-width-form">

  <ng-container *ngIf="!showLocationBreakout">
    <app-google-place-search (select)="populateLocationForm($event)"></app-google-place-search>
  </ng-container>

  <ng-container *ngIf="showLocationBreakout">

    <div class="margin-md-bottom">
      <button mat-button (click)="revertToSearch()">Return to search</button>
    </div>

    <ng-container *ngIf="locationForm.get('nameControl').value">
      <mat-form-field>
        <input matInput placeholder="name" formControlName="nameControl" id="name">
      </mat-form-field>
    </ng-container>

    <mat-form-field>
      <input matInput placeholder="Street" formControlName="street1Control" required id="street1">
      <mat-error *ngIf="locationForm.get('street1Control').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Apt/Floor/Unit" formControlName="street2Control" id="street2">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" formControlName="cityControl" required id="city">
      <mat-error *ngIf="locationForm.get('cityControl').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="State" required formControlName="stateControl">
        <mat-option *ngFor="let state of stateOptions" [value]="state">
          {{ state | usastate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="locationForm.get('stateControl').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Zip" formControlName="zipControl" required id="zip" [maxlength]="5" [minlength]="5">
      <mat-error *ngIf="locationForm.get('zipControl').hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="locationForm.get('zipControl').hasError('minlength')">
        Zip must be 5 digits
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="showExtraFields">
      <mat-form-field>
        <input matInput placeholder="Zip Ext." formControlName="zipExtensionControl" id="zipExtension">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="County" formControlName="countyControl" id="county">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Province" formControlName="provinceControl" id="province">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Country" formControlName="countryControl" id="country">
      </mat-form-field>
    </ng-container>

    <div class="margin-lg-bottom margin-md-top text-left text-sm text-muted">
      <mat-checkbox formControlName="showDescription" labelPosition="after">
        <span>Sometimes drivers have a hard time finding me... </span>
        <span *ngIf="!showDescription">😞</span>
        <span *ngIf="showDescription && !locationForm.get('descriptionControl').value">😯</span>
        <span *ngIf="showDescription && locationForm.get('descriptionControl').value">😊</span>
      </mat-checkbox>
    </div>

    <ng-container *ngIf="showDescription">

      <div class="text-sm text-muted margin-md-bottom">That's okay, we'll find you! Help us out with a brief description of how to get there.</div>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="descriptionControl" id="description" [rows]="6"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Image" formControlName="imageControl" id="image">
      </mat-form-field>
    </ng-container>

    <div class="fixed-height-md margin-md-vert">
      <span class="margin-sm-right">
        <button mat-button color="primary" (click)="revertForm()" tabindex="-1">{{ revertLabel }}</button>
      </span>
      <span class="margin-sm-left">
        <button mat-raised-button color="primary" [disabled]="!locationForm.valid" (click)="submitForm()" id="submit"> {{ submitLabel }} </button>
      </span>
    </div>
  </ng-container>
</form>
