<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 400px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel text-center">
      <div class="panel-header">
        Log In
      </div>
      <div class="panel-body">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
