@mixin inman-text($theme, $muted, $dark, $text-sizes, $icon-sizes, $line-height-sizes, $border-radius) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // SPREAD //
  .text-spread-hg {
    line-height: map-get($line-height-sizes, "hg");
  }

  .text-spread-xl {
    line-height: map-get($line-height-sizes, "xl");
  }

  .text-spread-lg {
    line-height: map-get($line-height-sizes, "lg");
  }

  .text-spread-md {
    line-height: map-get($line-height-sizes, "md");
  }

  .text-spread-sm {
    line-height: map-get($line-height-sizes, "sm");
  }

  .text-spread-sx {
    line-height: map-get($line-height-sizes, "sx");
  }

  .text-spread-nn {
    line-height: map-get($line-height-sizes, "nn");
  }

  // COLORS //
  .text-dark {
    color: $dark;
  }

  .text-muted {
    color: $muted;
  }

  .text-primary {
    color: mat-color($primary);
  }

  .text-warn {
    color: mat-color($warn);
  }

  .text-accent {
    color: mat-color($accent);
  }

  // SIZES //
  .text-hg {
    font-size: map-get($text-sizes, "hg");
  }

  .text-xl {
    font-size: map-get($text-sizes, "xl");
  }

  .text-lg {
    font-size: map-get($text-sizes, "lg");
  }

  .text-md {
    font-size: map-get($text-sizes, "md");
  }

  .text-sm {
    font-size: map-get($text-sizes, "sm");
  }

  .text-xs {
    font-size: map-get($text-sizes, "xs");
  }

  .text-nn {
    font-size: map-get($text-sizes, "nn");
  }

  // ALIGN //
  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  // LINKS //
  .clickable:hover {
    cursor: pointer;
  }

  .text-link {
    color: mat-color($accent);
    text-decoration: none;
  }

  .text-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .text-dance {
    text-decoration: underline;
  }

  .text-dance:hover {
    text-decoration: none;
    font-style: italic;
    color: mat-color($accent);
    cursor: none;
  }

  .text-button:hover {
    background-color: rgba(#dbdbdb, 0.5);
    border-radius: $border-radius;
    outline: none;
  }

  .text-quote {
    text-align: center;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: $border-radius;
  }

  .text-quote-body {
    text-align: center;
    font-style: italic;
    font-size: map-get($icon-sizes, "sm") !important;
  }

  .text-quote-author {
    text-align: right;
    font-weight: bold;
    font-size: map-get($icon-sizes, "sm") !important;
  }

  // ICONS //
  .icon-xl {
    font-size: map-get($icon-sizes, "xl") !important;
    height: map-get($icon-sizes, "xl") !important;
    width: map-get($icon-sizes, "xl") !important;
    line-height: map-get($icon-sizes, "xl") !important;
  }

  .icon-lg {
    font-size: map-get($icon-sizes, "lg") !important;
    height: map-get($icon-sizes, "lg") !important;
    width: map-get($icon-sizes, "lg") !important;
    line-height: map-get($icon-sizes, "lg") !important;
  }

  .icon-md {
    font-size: map-get($icon-sizes, "md") !important;
    height: map-get($icon-sizes, "md") !important;
    width: map-get($icon-sizes, "md") !important;
    line-height: map-get($icon-sizes, "md") !important;
  }

  .icon-sm {
    font-size: map-get($icon-sizes, "sm") !important;
    height: map-get($icon-sizes, "sm") !important;
    width: map-get($icon-sizes, "sm") !important;
    line-height: map-get($icon-sizes, "sm") !important;
  }

  .icon-xs {
    font-size: map-get($icon-sizes, "xs") !important;
    height: map-get($icon-sizes, "xs") !important;
    width: map-get($icon-sizes, "xs") !important;
    line-height: map-get($icon-sizes, "xs") !important;
  }

  .icon-nn {
    font-size: map-get($icon-sizes, "nn") !important;
    height: map-get($icon-sizes, "nn") !important;
    width: map-get($icon-sizes, "nn") !important;
    line-height: map-get($icon-sizes, "nn") !important;
  }

  .icon-hg {
    font-size: map-get($icon-sizes, "hg") !important;
    height: map-get($icon-sizes, "hg") !important;
    width: map-get($icon-sizes, "hg") !important;
    line-height: map-get($icon-sizes, "hg") !important;
  }

  .text-area {
    resize: none;
    outline: none;
    border: 0 none;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
  }
}
