@mixin loader-ripple-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  .lds-ripple {
    position: relative;
  }
  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(1) {
    border-color: mat-color($accent);
  }
  .lds-ripple div:nth-child(2) {
    border-color: mat-color($accent);;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .lds-ripple {
    width: 36px !important;
    height: 36px !important;
    -webkit-transform: translate(-18px, -18px) scale(0.18) translate(18px, 18px);
    transform: translate(-18px, -18px) scale(0.18) translate(18px, 18px);
  }

}
