<div style="display: inline-block">

  <div style="width:100%;height:100%" class="lds-ripple">
    <div>
      <!--placeholder, see scss-->
    </div>
    <div>
      <!--placeholder, see scss-->
    </div>
  </div>

</div>
