<div class="panel text-sm">
  <div class="panel-header">
    Authorization Quality
  </div>

  <div class="margin-md-vert">
    <div *ngIf="publicMessage" class="text-primary">
      {{ publicMessage }}
    </div>
    <div *ngIf="publicError" class="text-warn">
      <p>If you see this message, something is wrong with our public API authorization.</p>
    </div>
  </div>

  <div class="margin-md-vert">
    <div *ngIf="authorizedMessage" class="text-primary">
      {{ authorizedMessage }}
    </div>

    <div *ngIf="authorizedError">
      <p>If you see this message, you are not logged in.</p>
    </div>
  </div>

  <div class="margin-md-vert">
    <div *ngIf="internalMessage" class="text-primary">
      {{ internalMessage }}
    </div>

    <div *ngIf="internalError" class="text-warn">
      <p>If you see this message, you are not logged in as an 'internal' user.</p>
    </div>
  </div>

  <div class="margin-md-vert">
    <div *ngIf="rootMessage" class="text-primary">
      {{ rootMessage }}
    </div>

    <div *ngIf="rootError" class="text-warn">
      <p>If you see this message, you are not logged in as a 'root' user.</p>
    </div>
  </div>
</div>
