<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div class="panel-no-border" fxFlex>
    <div class="panel-header text-center">
      We've sent you an email!
    </div>
    <div class="panel-body text-center">
      Check your inbox
    </div>
    <div class="panel-footer text-center">
      <mat-icon>email</mat-icon>
    </div>
  </div>
</div>
