<div fxLayout fxLayoutAlign="center" fxLayoutGap="20px">

  <div class="panel" fxFlex="400px" fxFlex.lt-md="0 1 400px">
    <div class="panel-header text-center">
      <div class="text-md margin-lg-bottom">
        Sign Up
      </div>
      <img src="assets/bb-logo-box-320.png" alt="re:mind" height="100px">
    </div>
    <app-signup-form submitLabel="Invite"></app-signup-form>
  </div>
</div>
