<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 400px">
    <div class="panel-no-border text-center">
      <div class="text-center">
        <inm-spinner></inm-spinner>
      </div>
    </div>
  </div>
</div>

